<h1><%= I18n.t("navbar.languages") %></h1>


<div id="languages" class="list-group">
  <% @languages.each do |language| %>
    <%= link_to language.name, language, class: "list-group-item list-group-item-action" %>
  <% end %>
</div>

<br>

<div class="d-flex justify-content-center">
  <%= paginate @languages %>
</div>

<% if user_signed_in? %>
  <div><%= I18n.t("dont_see.language") %> <%= link_to I18n.t("dont_see.add"), new_language_path %> <%= I18n.t("dont_see.add_lang") %></div>
<% else %>
  <div><%= I18n.t("dont_see.language") %> <%= link_to I18n.t("navbar.sign_in"), new_user_session_path %>/<%= link_to I18n.t("navbar.sign_up"), new_user_registration_path %> <%= I18n.t("dont_see.add_lang") %></div>
<% end%>
