<div id="<%= dom_id phrase %>">
  <p>
    <strong>Context:</strong>
    <%= phrase.context %>
  </p>

  <p>
    <strong>Submitter:</strong>
    <%= phrase.submitter_id %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= phrase.language_id %>
  </p>

  <p>
    <strong>Origin:</strong>
    <%= phrase.origin_id %>
  </p>

</div>
