<p>Sorry! <%= @origin_content %> from <%= @origin_language %> is not an origin word in our database.</p>

<% if user_signed_in? %>
  <%= form_with url: phrases_path do %>
    <p>Add <%= @origin_content %> as an origin word for <%= @origin_language %> to our database?</p>
    <%= hidden_field_tag :content, @origin_content %>
    <%= hidden_field_tag :language_id, params[:starting_language] %>
    <%= hidden_field_tag :origin_id, nil %>
    <%= hidden_field_tag :submitter_id, nil %>
    <%= submit_tag "Add origin word" %>
  <% end %>
<% else %>
  <p>Sign in to add origin words to our database!</p>
<% end %>
