<% if @translations.empty? %>
  <p>Sorry! No translations found for <%= @phrase.content %> in <%= @target_language%> in our database.</p>
<% else %>
  <h1>Translations for <%= @phrase.content%> in <%= @target_language %></h1>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <% @translations.each do |translation| %>
      <%= render "phrases/phrase", translation: translation %>
    <% end %>
  </div>
<% end %>

<div>
  <% if user_signed_in? %>
    <%= form_with url: phrases_path do %>
      <div>
        <p>Add a translation for <%= @phrase.content %> in <%= @target_language %>?</p>
        <%= label_tag :new_translation_box, "" %>
        <%= text_field_tag :content, nil, placeholder: "Enter your translation" %>
      </div>
      <%= hidden_field_tag :language_id, params[:target_language] %>
      <%= hidden_field_tag :origin_id, params[:id] %>
      <%= hidden_field_tag :submitter_id, current_user.id %>
      <%= submit_tag "Add translation" %>
    <% end %>
  <% else %>
    <p><%= link_to "Sign in", new_user_session_path %>/<%= link_to "Sign up", new_user_registration_path %> to rate translations and add translations for <%= @phrase.content %> in <%= @target_language %> to our database!</p>
  <% end %>
</div>
