<% if @translations.empty? %>
  <p>Sorry! No translations found for <%= @phrase.content %> in <%= @target_language%> in our database. Would you like to add a translation?</p>
<%else %>
  <h1>Translations for <%= @phrase.content%> in <%= @target_language %></h1>
  <% @translations.each do |translation| %>
    <div>
      <p><%= translation.content %></p>
    </div>
  <% end%>
<% end %>
