<% if @translations.empty? %>
  <p>Sorry! No translations found for <%= @phrase.content %> in <%= @target_language%> in our database. Would you like to add a translation?</p>
<%else %>
  <h1>Translations for <%= @phrase.content%> in <%= @target_language %></h1>
  <% @translations.each do |translation| %>
    <div>
      <p><%= translation.content %></p>
      
      <p>
        <% if translation.ratings.empty? %>
          Translation not yet rated
        <% else %>
          Average rating: <%= translation.ratings.average(:rating_val).truncate(2) %>
        <% end %>
      </p>
      
      <p><%= translation.ratings.size %> total ratings</p>
      
      <p>Submitted by <%= link_to(translation.submitter.username, user_path(translation.submitter.id)) %></p>
    </div>

    <%= render "ratings/not_rated", translation: translation %>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <%= form_with url: phrases_path do %>
    <p>Add <%= @origin_content %> as an origin word for <%= @origin_language %> to our database?</p>
    <%= hidden_field_tag :content, @origin_content %>
    <%= hidden_field_tag :language_id, params[:starting_language] %>
    <%= hidden_field_tag :origin_id, nil %>
    <%= hidden_field_tag :submitter_id, nil %>
    <%= submit_tag "Add origin word" %>
  <% end %>
<% else %>
  <p><%= link_to "Sign in", new_user_session_path %>/<%= link_to "Sign up", new_user_registration_path %> to rate these translations or add translations for <%= @phrase.content %> in <%= @target_language %> to our database!</p>
<% end %>
