<h1><%= I18n.t("user.user") %> <%= @user.email %></h1>
<% if @avg_rating > 0 %>
  <p><%= I18n.t("user.avg_rating") %>: &nbsp; <%= @avg_rating %></p>
<% else %>
  <p><%= I18n.t("user.not_rated") %></p>
<% end %>
<h2><%= I18n.t("user.submitted") %></h2>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <% @translations.each do |translation| %>
    <%= render "users/submitted_translation", translation: translation %>
  <% end %>
</div>

<br>

<%= render "shared/centered_paginator", items: @translations %>
